.catalogWrapper,
.loadMoreWrapper {
  position: relative;
}

/* Mobile */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0 auto 24px;
  padding: 0; /* якщо потрібен, можна додати */
}

/* Кожна картка */
.list > li {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/* Відступ між фільтрами і списком */
.filters {
  margin-bottom: 56px;
}

/* Відступ між списком карток і кнопкою */
.list {
  margin-bottom: 80px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .list > li {
    width: calc((100% - 24px) / 2); /* 2 картки в ряд з відступом 24px */
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .list > li {
    width: calc((100% - 72px) / 4); /* 4 картки в ряд з загальним gap 72px */
  }
}

/* Обгортка кнопки Load More */
.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* Стилі кнопки Load More */
.loadMoreWrapper button {
  width: 120px;
  height: 36px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #0b44cd;
  transition: background-color 0.3s ease;
  z-index: 10000;
}

.loadMoreWrapper button:hover,
.loadMoreWrapper button:focus {
  background-color: #0b44cd;
  outline: none;
  z-index: 100000;
}
