.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Всі картки мають ширину 100% на мобілці */
.list > * {
  flex: 1 1 100%;
  max-width: 100%;
}

/* Планшет: картки по 50% */
@media (min-width: 600px) {
  .list > * {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

/* Десктоп: картки по 25% */
@media (min-width: 1024px) {
  .list > * {
    flex: 1 1 22%;
    max-width: 22%;
  }
}
