.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 276px;
  height: 424px;
  gap: 28px;
  background-color: #fff;
  border-radius: 14px;
  padding: 0 16px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  border: 2px solid transparent; /* щоб уникнути "стрибка" при hover */

  box-sizing: border-box;
  z-index: 0; /* важливо для накладання */
  position: relative;
}
/* ✨ Hover — яскраве світле світіння */
.card:hover {
  transform: scale(1.2) translateY(-12px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3), 0 0 24px rgba(173, 216, 255, 0.4);
  z-index: 10000; /* піднімає над іншими елементами */
}

.photoDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 352px;
}

.photoWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  flex-shrink: 0;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px;
}

.favoriteBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999999;
  padding: 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Manrope", sans-serif;
}

.modelYearPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  line-height: 1.25;
}

.brand {
  color: #000000; /* чорний */
  font-weight: 700;
}

.model {
  color: #3470ff; /* синій */
  cursor: pointer;
  font-weight: 500;
}

.year {
  color: #000000;
  font-weight: 400;
}

.priceWrapper {
  font-size: 16px;
  font-weight: 500;
  color: #101828;
}

.locationMileage {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 9px;
  line-height: 1.5;
  color: #667085; /* сірий */
  font-family: "Manrope", sans-serif;
}

.readMoreWrapper {
  display: flex;
  justify-content: center;
}

.readMoreBtn {
  width: 100%;
  height: 44px;
  background-color: #3470ff;
  color: #fff;
  border-radius: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.readMoreBtn:hover,
.readMoreBtn:focus {
  background-color: #0b44cd;
  outline: none;
}
